.DS_Store
.vscode
.idea

# npm
node_modules
npm-debug.log

# yarn
.pnp.*
.yarn

# env
.env

# tests
cucumber-report
test-results
playwright-report

.nx

/log
/allure-results
/allure-report
.features-gen